/* COMON */

@font-face {
	font-family: 'DungGeunMo';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DOSGothic';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


:root {
	--font-rubik : 'Rubik', sans-serif;
	--font-arial : Arial, sans-serif;
	--font-nanum : 'Nanum Gothic', sans-serif;
	--font-black : 'Black Han Sans', sans-serif;
	--font-digital : 'DungGeunMo', sans-serif;
	--font-dos : 'DOSGothic'
}

body {
	color : #333;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	font-family: var(--font-nanum);
	height: 3000px;
}

img {
	display : block;
}
a {
	text-decoration: none;
	color : inherit;
}
.inner {
	max-width : 1100px;
	position: relative;
	right : 0;
	left : 0;
	margin : 0 auto; 
}

.back-to-position {
	opacity: 0;
	transition: 1s;
}

.back-to-position.to-right {
	transform: translateX(-150px);
}
.back-to-position.to-left {
	transform : translateX(150px);
}

.show .back-to-position {
	opacity: 1;
	transform: translateX(0);
}

.show .back-to-position.delay-0 {
  transition-delay: 0s;
}

.show .back-to-position.delay-1 {
  transition-delay: .2s;
}

.show .back-to-position.delay-2 {
  transition-delay: .4s;
}

.show .back-to-position.delay-3 {
  transition-delay: .6s;
}

/* INTRO */
.intro {
	background-color: #D5ECF9;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	border-bottom: 1px solid #555;
}

.intro .inner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro .inner .title_box {
	width: 690px;
	height: 135px;
}

.intro .inner .title_box h1 {
	position: relative;
	font-family: var(--font-dos);
	font-size: 3rem;
	font-weight: 700;
	color: #222;
}


.intro .inner .title_box h1::after{
	content: '';
	position: absolute;
	bottom: 0;
	width : 2px;
	height : 65px;
	display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite;
}

.intro .inner .title_box h1.stop::after {
	display: none;
	animation-play-state: paused;
}

@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}

.clouds .cloud {
	position: absolute;
	width : 240px;
}

.cloud:nth-child(1) {top: 190px; left: -90px; width: 250px;}
.cloud:nth-child(2) {top: 100px; right: 80px;}
.cloud:nth-child(3) {bottom: 30px; right: 260px; width: 180px;}
.cloud:nth-child(4) {bottom: 100px; left: -30px;}
.cloud:nth-child(5) {bottom: 200px; right: -160px;}
.cloud:nth-child(6) {top: 130px; left: 160px; width:140px;}
/* .cloud:nth-child(1) {top: 0; bottom: ; left: 0; right: ;} */


.intro .inner .arrow_box {
	position: absolute;
	width: 45px;
	height: 50px;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow_box .down {
	width: 45px;
	opacity: 0;
	transition: opacity 1s;
}


.arrow_box .star_box {
	position: absolute;
	top: -60px;
	left: -12.5px;
  perspective: 300px;
}

.arrow_box .star_box .star {
	position: absolute;
	width : 70px;
  backface-visibility : hidden;
  transition : 1s;
	opacity: 0;
	transform: translateY(20px);
}

.arrow_box .star_box .star.show {
	opacity: 1;
	transform: translateY(0);
}

.arrow_box .star_box .star.show.front {transform: rotateY(0deg);}
.arrow_box .star_box .star.show.front.active {transform: rotateY(180deg);}
.arrow_box .star_box .star.show.back {transform: rotateY(-180deg);}
.arrow_box .star_box .star.show.back.active {transform: rotateY(0deg);}


/* NAV */
nav .material-icons {
	font-size: 2rem;
	color: #868e96;
	width: 45px;
	height: 45px;
	position: fixed;
	top: 30px;
	right: 30px;
	border: 1px solid #868e96;
	border-radius: 100%;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 8;
	display: none;
}


nav .nav_btn:hover {
	color: #495057;
	border: 1px solid #495057;
}

nav .nav_btn.open {
	border: none;
}

nav .nav_contents {
	position: fixed;
	top: 20px;
	right: 20px;
	margin-right: -210px;
	width: 180px;
	padding-top: 45px;
	z-index: 7;
	background-color: #f8f8f890;
	border: 1px solid #e9ecef;
	border-radius: 10%;
	opacity: 0;
	transition: .8s;
}

nav .nav_contents.open {
	opacity: 1;
	margin-right: 0;
}

.nav_contents ul{
	width: 100%;
}

.nav_contents ul li a{
	font-family: var(--font-rubik);
	display: block;
	font-size: 1.3rem;
	padding: 10px 15px;
}

 /* ABOUT */

.about {
	background: linear-gradient(#D5ECF9, 70% ,rgb(225, 245, 222),rgba(231, 217, 195, 0.815));
}
.about .inner {
	height: 95vh;
	overflow: visible;
	display: flex;
}

.about .inner .img_box {
	display: flex;
	align-items: flex-end;
}

.img_box .photo {
	width: 600px;
	filter :drop-shadow(3px 3px 10px #333);
	position : relative;
	left:-30px;
	opacity: 0;
	transform: translateX(-200px);
	transition : 2s;
}

.about.show .img_box .photo {
	opacity: 1;
	transform: translateX(0);
}

.about .text_box {
	height: 70%;
	top: 0;
	bottom: 0;
	right: 5%;
	margin: auto 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.text_box .simple {
	font-size: 2rem;
	line-height: 4rem;
	padding-top: 70px;
}

.text_box .simple strong {
	font-size: 2.3rem;
	font-weight: 700;
}

.text_box .simple em {
	position: relative;
	z-index: 1;
}

.about .text_box .simple em::before {
	content: '';
	width: 255px;
	height: 39px;
	background-color: beige;
	position: absolute;
	top: 0;
	left: -4px;
	z-index: -1;
	transform: translateX(-80px);
	opacity: 0;
	transition: 2s;
	transition-delay: .2s;
}

.about.show .simple em::before {
	transform: translateX(0);
	opacity: 1;
}

.text_box .briefInt {
	width: 433px;
	padding: 10px 0;
}

.text_box .briefInt li {
	position: relative;
}

.text_box .briefInt li::before {
	content: '\2601';
	color: #fff;
	font-size: 1.5rem;
	margin-right: 10px;
	position: relative;
	top: 4px;
}

.text_box .blabla {
	width: 100%;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: -90px;
	left: 40px;
}


.text_box .btn_pdf {
	font-size: 1.5rem;
	font-family: var(--font-black);
	padding: 10px 15px;
	border: 1px solid #333;
	border-radius: 10px;
	margin: 20px 10px 20px auto;
}


.text_box .btn_pdf:hover {
	background-color: rgba(176, 206, 156, 0.815);
	border-color: rgba(176, 206, 156, 0.815);
	color: #fff;
	box-shadow: -2px -2px 5px #999;
}



/* SKILLS */
.skills {
	background-image: url('../images/pattern1.jpg');
	position: relative;
	padding-bottom: 50px;
}

.skills::before {
	content: '';
	opacity: .92;
	background-color: #f1f3f5;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.skill_prograss .circle_prograss_title {
	font-size: 3.5rem;
	font-weight: 700;
	font-family: 'Rubik', sans-serif;
	color : #343a40;
	text-align: center;
	position: relative;
	top: 50px;
}


.skill_prograss .circle_prograss_boxs {
	display: flex;
	justify-content: space-around;
	padding-bottom: 32px;
	flex-wrap: wrap;
}

.circle_prograss_boxs .circle_prograss_box {
	display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
	width: 360px;
	height: 360px;
}

.circle_prograss_box.css {
	margin-top: 100px;
}

.circle_prograss_box .circles {
	transform:rotate(-90deg);
}


.circle_prograss_box .prograss_title {
	position: absolute;
	font-family: 'Rubik', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	top: 50%;
	margin-top: -30px;
}

.circle_prograss_box .prograss {
  position:absolute;
  font-size : 1.5rem;
	top: 50%;
	margin-top: 8px;
}

.circle_prograss_box .circles .prograss_circle {
  stroke-dasharray: 722;
	stroke-dashoffset: 722;
  transition: 1.5s;
	filter: drop-shadow(-3px 3px 10px rgba(0,0,0,.3));
}

.circle_prograss_box p {
	text-align: center;
	position: absolute;
	bottom: 0;
	margin-bottom: -29px;
	font-size: .8rem;
	line-height: 1.2rem;
	font-weight: 700;
	width: 325px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: .5px solid #adb5bd;
  border-radius: 5px;
  background-color: #fdfdfa;
}

.skills .inner .skill_more {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.skill_more p{
	text-align: center;
	font-size: 1.2rem;
	line-height: 2rem;
	font-weight: 700;
	z-index: 1;
	color: #000;
}

.skill_more img {
	width: 120px;
	position: absolute;
	opacity: .8;
	z-index: 0;
}

img.floating1 {top: 20px; left: -10px; width: 200px;}
img.floating2 {bottom: 20px; left:300px; width: 90px;}
img.floating3 {top: -25px; left: 210px; width: 130px;} 
img.floating4 {bottom: 65px; left: 0; width: 90px;}
img.floating5 {top: 40px;}
img.floating6 {bottom: 20px; right: 98px; width: 90px;}
img.floating7 {top: 50px; right: -10px;}
img.floating8 {top: 10px; right: 100px;}
img.floating9 {bottom: 40px; right: 300px; width: 80px;}


/* PROJECTS */

.projects .inner .publication {
	margin-top: 30px;
}

.publication .project {
	padding: 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #adb5bd;
}

.publication .project:last-child {
	padding : 40px 0 80px 0;
	border-bottom: none;
}

.publication .project:nth-child(2n-1) {
	flex-direction: row-reverse;
}

.publication .project .project_preview {
	width: 40%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:20px;
	overflow: hidden;
	box-shadow: 5px 5px 5px #999 ;
	cursor: pointer;
}

.publication .project .project_explain {
	width: 36%;
	padding: 0 40px 0 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.project_explain .title {
	margin-bottom: 20px;
	font-size: 1.5rem;
}

.project_explain .tag {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 15px;
}

.project_explain .text {
	height: 90px;
}

.project_explain .title b {
	font-weight: 700;
	font-size: 2rem;
}

.project_explain .tag strong {
	margin: 4px;
	padding: 3px 7px;
	border: .7px solid #868e96;
	border-radius: 27px;
}

.project_explain .tag strong::before{
	content: '#';
}

.project_preview img {
	width: 98%;
}

.project_preview .shortcut {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: none;
} 

.project_preview .shortcut::before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #f1f3f5;
	opacity: .8;
}

.project_preview:hover {
	transform: translate(-5px,-5px);
}

.publication .project:nth-child(2n-1) .project_preview:hover {
	transform: translate(5px,-5px);
}

.project_preview:hover .shortcut {
	display: flex;
}

.project_preview a {
	padding: 10px 15px;
	border: .7px solid #adb5bd;
  border-radius: 10px;
	font-weight: 700;
	z-index: 4;
}

.project_preview a:first-child {
	margin-bottom: 10px;
}

.project_preview a:hover {
	background-color: #ced4da;
	color: #f6f6f6;
}

.projects h1{
	font-family: var(--font-rubik);
	font-size: 3.5rem;
	font-weight: 700;
	color: #343a40;
	display: flex;
	justify-content: center;
	align-items: center;
}

 
.publication_title span {
	font-size: 4rem;
}

h1.design_title {
	font-size: 2.5rem;
}

.projects .design {
	padding-top: 40px;
	position: relative;
	height: 600px;
	background-color: #f3f3f3;
}

.projects .design .swiper-container {
	width : calc(400px * 3 + 20px);
	height : 470px;
	position: relative;
	top: 40px;
	left: 50%;
	margin-left: calc((400px * 3 + 20px)/-2);
}

.projects .design .swiper-slide {
	opacity: .5;
	transition: opacity 1s;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects .design .swiper-slide img {
	height: 430px;
	width: 300px;
	transition: .5s;
}

.projects .design .swiper-slide-active {
	opacity: 1;
}

.projects .design .swiper-slide-active img {
	height: 490px;
	width: 360px;
}

.design .swiper-prev, 
.design .swiper-next {
  width : 42px;
  height: 42px;
  border : 2px solid #333;
  border-radius: 50%;
  position : absolute;
  bottom : 260px;
  z-index: 1;
  cursor: pointer;
  outline : none;
  display: flex;
  justify-content: center;
  align-items : center;
  transition : .4s;
}

.design .swiper-prev {
  left : 10%;
}

.design .swiper-next {
  right : 10%;
}

.design .swiper-prev:hover, 
.design .swiper-next:hover {
	border-color: #868e96;
	color:#868e96;
}


/* FOOTRER */
footer {
	margin-top: 80px;
	height: 500px;
	position: relative;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
}

footer::before {
	content: '';
	width: 80%;
	height: 100%;
	background-color: #D5ECF9;;
	position: absolute;
	top: 0;
	right: 0;
}

footer .contact {
	border: .3px solid #343a40;
	box-shadow: 3px 3px 5px rgb(44, 44, 44);
	background-color: #fff;
	width: 380px;
	position: absolute;
	top: 10px;
	left: 18%;
	padding: 20px 0;
}

footer .finish{
	position: absolute;
	width: 800px;
	height: 300px;
	top: 25%;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact h1 {
	font-family: var(--font-rubik);
	font-size: 2.5rem;
	font-weight: 700;
	color: #343a40;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact h1 .material-icons {
	display: block;
	transform: rotate(30deg);
	font-size: 4rem;
	position: absolute;
	top: -26px;
	left: 30px;
}

.contact .email,
.contact .kakao {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact .email .material-icons {
	font-size: 2rem;
	color:#17C047;
}
.contact .mine{
	font-size: 1.5rem;
}

.contact .kakao img {
	width: 35px;
}

footer .finish h1 {
	font-family: var(--font-rubik);
	font-size: 4rem;
	font-weight: 700;
	position: relative;
}

footer .finish h1 span {
	display: block;
	position: absolute;
	top: 0;
	right: -55px;
	transform: rotate(30deg);
	animation: shaking 1s; 
  transform-origin: 80% 70%; 
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

footer .finish > span {
	width: 380px;
	text-align: right;
	font-size: 1.4rem;
}


@keyframes shaking {
  0% { transform: rotate(30deg); }
  50% {transfrom : rotate(20deg)}
  100% { transform: rotate(45deg); }
}


footer .copyright {
	transform: rotate(-90deg);
	position: absolute;
	top: 50%;
	right: -170.5px;
	font-size: 1.1rem;
}


@media screen and (max-width:1050px) {
	.about .inner {
		flex-direction: column;
		height: auto;
	}

	.about .inner .img_box {
		position: absolute;
		left:25%;
		bottom: 0;
		width: 200px;
	}

	.img_box .photo {
		width:200px;
	}

	.about .text_box{
		right: 0;
	}

	.text_box .simple{
		padding-top: 100px;
	}

	.text_box .btn_pdf {
		font-size: 1rem;
		margin:30px 40% 124px auto;
	}

	.text_box .blabla {
		bottom: 70px;
		left: 45%;
		font-size: .8rem;
	}

	/* SKILLS */

	.skill_prograss .circle_prograss_title {
		top: 30px;
	}

	.circle_prograss_box.css {
		margin-top: 0;
	}

	.skill_more p {
		font-size: .9rem;
	}

	.skill_more img {
		width: 90px;
	}

	img.floating1 {top: 60px; left: 10px; width: 120px;}
	img.floating2 {left:200px; width: 80px;}	
	img.floating3 {top: 5px; width: 100px;} 
	img.floating4 {left: 58px; width: 70px;}
	img.floating6 {width: 75px;}
	img.floating9 {right: 270px; width: 65px;}


	/* PROJECT */
	
	.projects .design .swiper-container {
		width : calc(370px * 3 + 20px);
		height : 430px;
		margin-left: calc((370px * 3 + 20px)/-2);
	}

	.projects .design .swiper-slide img {
		height: 360px;
		width: 260px;
		transition: .5s;
	}

	.projects .design .swiper-slide-active img {
		height: 380px;
		width: 280px;
	}
}


@media screen and (max-width:950px) {
  .projects .publication .project {
		flex-direction: column;
	}

	.publication .project .project_preview{
		width: 80%;
	}

	.publication .project .project_explain {
		padding-top: 20px;
		width: 75%;
	}

}

@media screen and (max-width:768px) {
	.intro .inner .title_box{
		width: 480px;
		height: 95px;
	}

	.intro .inner .title_box h1 {
		font-size: 2rem;
	}

	.skill_more p {
		width: 80%;
		font-size: .9rem;
	}

	/* ABOUT */
	.about .inner .img_box {
		display: none;
	}

	.text_box .simple{
		padding-top: 60px;
	}

	.text_box .btn_pdf {
		margin: 10px auto;
	}

	.text_box .blabla {
		width: 433px;
		position: static;
		padding-bottom: 40px;
	}


.circle_prograss_box.css,
.circle_prograss_box.javascript {
	padding-top: 30px;
}

	/* SKILLS */



	/* CONTACT */
	footer{
		height: 400px;
	}

	footer .finish {
		width: 60%;
	}

	footer .finish h1{
		font-size: 2.5rem;
	}

	footer .finish h1 span{
		right: -35px;
	}

	footer .finish > span{
		width: 270px;
	}

	footer .copyright{
		transform: none;
		right: 10px;
		bottom: 10px;
		top: auto;
		font-size: .7rem;

	}

}


@media screen and (max-width:620px) {
	.cloud:nth-child(3) {bottom: 30px; right: 80px; width: 180px;}

	.intro .inner .title_box {
		width: 320px;
		height: 70px;
	}

	.intro .inner .title_box h1 {
		font-size: 1.4rem;
	}

	/* ABOUT */
	.text_box .simple {
		font-size: 1.4rem;
		line-height: 2.5rem;
	}

	.text_box .simple strong{
		font-size: 1.7rem;
	}

	.about .text_box .simple em::before{
		width: 180px;
		height: 32px;
	}

	.text_box .briefInt{
		width: 319px;
		padding: 10px 2px;
		font-size: .8rem;
	}

	.text_box .briefInt li::before {
		font-size: 1.2rem;
	}

	.text_box .blabla {
		width: 320px;
	}

	/* SKILL */
	.skills {
		padding-bottom: 0;
	}
	.skill_more img {
		display: none;
	}

	.skill_more p {
	width: 80%;
	background-color: #f1f3f5;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 2px 2px 10px #495057;
	}

	.skill_prograss .circle_prograss_title,
	.projects h1{
		font-size: 2.5rem;
	}

	h1.design_title {
		font-size:1.5rem;
	}

	.projects .design {
		height: 490px;
	}

	.projects .design .swiper-container {
		top: 0;
	}

	.design .swiper-prev, 
	.design .swiper-next {
		bottom: 225px;
	}

	/* FOOTER */
	footer .contact {
		width: 280px;
		left: auto;
	}

	.contact h1 {
		font-size: 1.5rem;
	}

	.contact .mine {
		font-size: 1.1rem;
		font-weight: 700;
	}

	.contact h1 .material-icons {
		top: -30px;
		font-size: 3.3rem;
	}

	footer .finish h1{
		font-size: 2.2rem;
	}
	
	footer .finish > span {
		font-size: 1rem;
	}

}